{
  "public": {
    "mapbox": {
      "accessToken": "YOUR_MAPBOX_ACCESS_TOKEN_HERE",
      "defaultCenter": {
        "lng": -3.7038,
        "lat": 40.4168
      },
      "defaultZoom": 12,
      "styleURL": "mapbox://styles/miguelcompany/cltvo4y6v00a101qsedv16hzy"
    }
  }
}
